
@{
    ViewData["Title"] = "Data";
}

  <div class="container">
    <div id="stats"></div>
    <table id="prices" class="display" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Price</th>
        </tr>
      </thead>
    </table>
  </div>



@section Scripts {
  <script src="~/js/data.js"></script>
}
  